<div class="game-result" ng-if="gameover">

  <div class="left-side" ng-class="{'victory' : gameResult, 'defeat' : !gameResult}"></div>
  <div class="right-side" ng-class="{'victory' : gameResult, 'defeat' : !gameResult}"></div>
  <div class="game-message">{{message}}</div>
  <a href="#!/play/lobby"><button class="button is-dark">Back</button></a>

</div>

<main ng-if="notInGame">
  You're not actually in a game or you tried to refresh your browser during a game (in which case you lost the game...sorry about that !). click <a href="#!/play/lobby">HERE</a> to return to the game lobby.
</main>
<h1 class="title is-1 has-text-centered">{{gameType}}</h1>
<main ng-class="{'blurred' : gameover}" ng-if="!notInGame">
  <div class="timer-wrapper">
    <div class="timer"
         ng-if="!training"
         ng-style="getTimerWidth()"
         ng-class="{'timer-warning' : timerWarning}"></div>
  </div>
  <div class="battlefield columns is-multiline">
    <div class="column is-6 user-team">
      <h2 class="title is-2 user-name" ng-if="!training">{{user.login}}</h2>
      <section class="team-member" ng-repeat="hero in userTeam | orderBy : 'class.name' ">
        <div class="menu">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">target</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select ng-model="hero.target">
                      <!-- <option ng-repeat="target in roster track by $index" ng-value="target.id">
                        {{target.class.name}}
                      </option> -->
                      <option class="is-user" ng-value="ally1.id">{{ally1.name}}</option>
                      <option class="is-user" ng-value="ally2.id">{{ally2.name}}</option>
                      <option class="is-user" ng-value="ally3.id">{{ally3.name}}</option>
                      <option class="is-opp" ng-value="enemy1.id">{{enemy1.name}}</option>
                      <option class="is-opp" ng-value="enemy2.id">{{enemy2.name}}</option>
                      <option class="is-opp" ng-value="enemy3.id">{{enemy3.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">skill</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select ng-model="hero.skillAction">
                      <option ng-value="hero.activeSkill1"
                              ng-attr-title="{{hero.activeSkill1.description}}"
                              ng-disabled="hero.activeSkill1.cdCounter"
                              ng-if="hero.activeSkill1">
                        {{hero.activeSkill1.name}}
                      </option>
                      <option ng-value="hero.activeSkill2"
                              ng-attr-title="{{hero.activeSkill2.description}}"
                              ng-disabled="hero.activeSkill2.cdCounter"
                              ng-if="hero.activeSkill2">
                        {{hero.activeSkill2.name}}
                      </option>
                      <option ng-value="hero.activeSkill3"
                              ng-attr-title="{{hero.activeSkill3.description}}"
                              ng-disabled="hero.activeSkill3.cdCounter"
                              ng-if="hero.activeSkill3">
                        {{hero.activeSkill3.name}}
                      </option>
                      <option ng-value="hero.activeSkill4"
                              ng-attr-title="{{hero.activeSkill4.description}}"
                              ng-disabled="hero.activeSkill4.cdCounter"
                              ng-if="hero.activeSkill4">
                        {{hero.activeSkill4.name}}
                      </option>

                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="actions-wrapper">
            <button class="button is-small is-dark action-btn"
                    ng-click="setAction(hero, 'attack'); atkActive = true; skillActive = false; defActive = false; waitActive = false"
                    ng-class="{'is-active': atkActive}">
                    Attack
            </button>
            <button class="button is-small is-dark action-btn"
                    ng-click="setAction(hero, 'skill'); atkActive = false; skillActive = true; defActive = false; waitActive = false"
                    ng-class="{'is-active': skillActive}">
                    Skill
            </button>
            <button class="button is-small is-dark action-btn"
                    ng-click="setAction(hero, 'defend'); atkActive = false; skillActive = false; defActive = true; waitActive = false"
                    ng-class="{'is-active': defActive}">
                    Defend
            </button>
            <button class="button is-small is-dark action-btn"
                    ng-click="setAction(hero, 'wait'); atkActive = false; skillActive = false; defActive = false; waitActive = true"
                    ng-class="{'is-active': waitActive}">
                    Wait
            </button>
          </div>
        </div>
        <div class="hero-infos">
          <h4>
            {{hero.class.name}}
            <span class="dot-alert" ng-if="hero.dotCounter" ng-attr-title="damage : {{hero.dotDmg}}">DOT</span>
            <span class="hot-alert" ng-if="hero.hotCounter" ng-attr-title="heal : {{hero.hotHeal}}">HOT</span>
          </h4>
          <img ng-src="{{hero.class.portrait}}" alt="">
          <div class="HPBar" ng-style="setHPBar(hero)"></div>
          <div class="MPBar" ng-style="setMPBar(hero)"></div>
          <div class="hero-stats">
            <div class="wrapper">
              <ul>
                <li>HP : {{hero.hp}}</li>
                <li>ATK : <span ng-style="checkStatChange(hero, 'atk')">{{hero.atk}}</span></li>
                <li>DEF : <span ng-style="checkStatChange(hero, 'def')">{{hero.def}}</span></li>
                <li>SPE : <span ng-style="checkStatChange(hero, 'speed')">{{hero.speed}}</span></li>
              </ul>
              <ul>
                <li>MP : {{hero.mp}}</li>
                <li>MATK : <span ng-style="checkStatChange(hero, 'matk')">{{hero.matk}}</span></li>
                <li>MDEF : <span ng-style="checkStatChange(hero, 'mdef')">{{hero.mdef}}</span></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <button class="button is-large is-info confirm-turn"
              ng-click="confirmTurn()"
              ng-disabled="isTurnInvalid()"
              ng-class="{'is-loading' : waitingForOpp}">
              Confirm turn
      </button>
      <div ng-if="waitingForOpp">Waiting for Opponent...</div>
    </div>
    <div class="column is-3 opponent">
      <h2 class="title is-2 opp-name" ng-if="!training">{{opp.login}}</h2>
      <section class="team-member" ng-repeat="hero in oppTeam | orderBy : 'class.name'">
        <div class="hero-infos">
          <h4>
            {{hero.class.name}}
            <span class="dot-alert" ng-if="hero.dotCounter" ng-attr-title="damage : {{hero.dotDmg}}">DOT</span>
            <span class="hot-alert" ng-if="hero.hotCounter" ng-attr-title="heal : {{hero.hotHeal}}">HOT</span>
          </h4>
          <img ng-src="{{hero.class.portrait}}" alt="">
          <div class="HPBar" ng-style="setHPBar(hero)"></div>
          <div class="MPBar" ng-style="setMPBar(hero)"></div>
          <div class="hero-stats">
            <div class="wrapper">
              <ul>
                <li>HP : {{hero.hp}}</li>
                <li>ATK : {{hero.atk}}</li>
                <li>DEF : {{hero.def}}</li>
                <li>SPE : {{hero.speed}}</li>
              </ul>
              <ul>
                <li>MP : {{hero.mp}}</li>
                <li>MATK : {{hero.matk}}</li>
                <li>MDEF : {{hero.mdef}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <a  href="#!/" class="button is-large is-danger confirm-turn" ng-click="confirmTurn()">
              Concede
      </a>
    </div>
    <div scroll-bottom="combatLog" id="combat-log" class="column is-3">
      <h3 class="title is-3 has-text-center">Combat log</h3>
      <p ng-repeat="log in combatLog track by $index">{{log}}</p>
    </div>
  </div>


</main>
