<div ng-include="'views/components/navbar.html'"></div>
<main ng-controller="profileCtrl">
  <h1 class="title is-1 has-text-centered">{{user.login}}</h1>
  <div class="has-text-centered subtitle">
    <div class="subtitle">
      ELO : {{user.elo}}
    </div>
  </div>
  <div class="profile-section">
    <h2 class="title is-2">Your Stats</h2>
    <div>Games played : {{user.games}}</div>
    <div>Games won : {{user.wins}}</div>
    <div>Games lost : {{user.losses}}</div>
  </div>

  <div class="profile-section user-team">
    <h2 class="title is-2">Your Team</h2>
    <div class="team">
      <div class="team-member">
        <div class="team-member-btn" ng-click="teamPicker1 = !teamPicker1" ng-style="{'background-image':'url(' + user.teamHero1.class.portrait + ')'}"></div>
        <div class="team-member-picker" ng-show="teamPicker1">
          <img ng-repeat="hero in user.heroes" ng-src="{{hero.class.portrait}}" class="portrait" ng-click="setTeamMember(hero, '1')">
        </div>
      </div>
      <div class="team-member">
        <div class="team-member-btn" ng-click="teamPicker2 = !teamPicker2" ng-style="{'background-image':'url(' + user.teamHero2.class.portrait + ')'}"></div>
        <div class="team-member-picker" ng-show="teamPicker2">
          <img ng-repeat="hero in user.heroes" ng-src="{{hero.class.portrait}}" class="portrait" ng-click="setTeamMember(hero, '2')">
        </div>
      </div>
      <div class="team-member">
        <div class="team-member-btn" ng-click="teamPicker3 = !teamPicker3" ng-style="{'background-image':'url(' + user.teamHero3.class.portrait + ')'}"></div>
        <div class="team-member-picker" ng-show="teamPicker3">
          <img ng-repeat="hero in user.heroes" ng-src="{{hero.class.portrait}}" class="portrait" ng-click="setTeamMember(hero, '3')">
        </div>
      </div>
    </div>
  </div>

  <div class="profile-section">
    <h2 class="title is-2">Your Heroes</h2>
    <div class="field is-horizontal">
      <div class="control has-icons-left">
        <input ng-model="heroFilter" class="input" type="text" placeholder='Search'>
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>
    <div ng-repeat="hero in user.heroes | orderBy : 'class.name' |  filter: {class: {name: heroFilter}}" class="profile-hero">
      <img ng-src="{{hero.class.portrait}}" class="portrait">
      <div>
        <h3 class="title is-3">{{hero.class.name}}</h3>
        <div class="stats">
          <ul>
            <li>HP : {{hero.class.health}}</li>
            <li>ATK : {{hero.class.atk}}</li>
            <li>DEF : {{hero.class.def}}</li>
          </ul>
          <ul>
            <li>MP : {{hero.class.mana}}</li>
            <li>MATK : {{hero.class.matk}}</li>
            <li>MDEF : {{hero.class.mdef}}</li>
          </ul>
        </div>
      </div>
      <div class="skills">
        <h4 class="title is-4">Skills</h4>
        <ul>
          <li ng-repeat="skill in hero.class.skills">
            <span ng-class="{'not-owned' : !isOwnedSkill(skill, hero)}">{{skill.name}}</span>
            <i class="fa fa-info-circle" ng-mouseover="infos = true" ng-mouseleave="infos = false"></i>
            <span ng-if="!isOwnedSkill(skill, hero)" ng-click="buySkill(skill, hero)">
              <span style="cursor: pointer;">Buy({{skill.price}}<i class="fa fa-diamond">)</i></span>
            </span>
            <div ng-if="infos" class="skill-description" ng-bind-html="skill.description"></div>
          </li>
        </ul>
      </div>
      <div class="active-skills columns is-multiline">
        <div class="column is-full">
          <h4 class="title is-4">Active Skills</h4>
        </div>
        <div class="column is-half">
          <select ng-model="activeSkill1"
                  ng-change="setActiveSkill(hero, activeSkill1, 1)"
                  ng-init="activeSkill1 = hero.activeSkill1">
            <option value="">-</option>
            <option ng-value="skill" ng-repeat="skill in hero.skills">{{skill.name}}</option>
          </select>
        </div>
        <div class="column is-half">
          <select ng-model="activeSkill2"
                  ng-change="setActiveSkill(hero, activeSkill2, 2)"
                  ng-init="activeSkill2 = hero.activeSkill2">
            <option ng-value="skill" ng-repeat="skill in hero.skills">{{skill.name}}</option>
            <option value="">-</option>
          </select>
        </div>
        <div class="column is-half">
          <select ng-model="activeSkill3"
                  ng-change="setActiveSkill(hero, activeSkill3, 3)"
                  ng-init="activeSkill3 = hero.activeSkill3">
            <option ng-value="skill" ng-repeat="skill in hero.skills">{{skill.name}}</option>
            <option value="">-</option>
          </select>
        </div>
        <div class="column is-half">
          <select ng-model="activeSkill4"
                  ng-change="setActiveSkill(hero, activeSkill4, 4)"
                  ng-init="activeSkill4 = hero.activeSkill4">
            <option ng-value="skill" ng-repeat="skill in hero.skills">{{skill.name}}</option>
            <option value="">-</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</main>
