<div ng-include="'views/components/navbar.html'"></div>
<h1 class="title is-1 has-text-centered">Lobby</h1>
<main ng-controller="lobbyCtrl">
    <section class="lobby">

      <div class="notification is-info" ng-if="challengePending">
        {{challenger.login}} challenges you to a game !  </br>
          <button class="button is-dark" ng-click="acceptChallenge()">ACCEPT</button>
          <button class="button is-dark" ng-click="declineChallenge()">DECLINE</button>
        </div>
      </div>

      <div class="notification is-danger" ng-if="notificationDisplay">
        <button class="delete" ng-click="closeNotification()"></button>
        {{notification}}
      </div>


      <h1 class="title is-1 has-text-centered">{{user.login}}</h1>
      <table class="table lb-table is-bordered os-striped">
        <thead>
          <td>Name</td>
          <td>ELO</td>
          <td></td>
        </thead>
        <tbody>
          <tr ng-repeat="u in users | orderBy : '-elo'">
            <td>{{u.login}}</td>
            <td>{{u.elo}}</td>
            <td>
              <button ng-class="{'is-loading' : challengeSent}" class="button is-dark" ng-disabled="challengeSent" ng-click="challenge(u)" ng-if="u.login != user.login">CHALLENGE</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
</mainW
