<div ng-include="'views/components/navbar.html'"></div>
<h1 class="title is-1 has-text-centered">Hero Shop</h1>
<main ng-controller="shopCtrl">
  <div class="classes-wrapper">
    <div class="class-wrapper has-text-centered" ng-repeat="class in classes">
      <div class="wrapper">
        <img ng-src="{{class.portrait}}" alt="" ng-disabled="!isOwnedClass(class)">
        <div class="hero-infos-button">
          INFOS
        </div>
      </div>
      <h4>{{class.name}}</h4>
      <button class="button is-danger" ng-if="isOwnedClass(class)">OWNED</button>
      <button class="button is-info" ng-if="!isOwnedClass(class)" ng-click="buyClass(class)">
        {{class.price}} &nbsp;
        <i class="fa fa-diamond"></i>
      </button>
    </div>
  </div>
</main>
