@charset "utf-8"

@import "utilities/_all"

@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"
@import "sections/_all"

*
  box-sizing: border-box

html, body
  margin : 0
  padding: 0
  background-color: $white-bis

main
  padding-top: 80px
  max-width: 1200px
  margin-left: auto
  margin-right: auto

.navbar
  position: fixed
  top: 0
  width: 100%
  border-bottom: solid 1px $grey
  z-index: 999

.view
  min-height: 100vh
