<nav class="navbar">
  <div class="navbar-brand">
    <div class="nav-title">Hero Clash</div>

    <div class="navbar-burger burger" ng-click="toggleMenu = !toggleMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>

  </div>
  <div class="navbar-menu" ng-class="{'is-active' : toggleMenu}">
    <div class="navbar-start">
      <a href="#!/shop" class="navbar-item">Hero Shop</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">Play !</div>
        <div class="navbar-dropdown">
          <a class="navbar-item " href="#!/play/training">
            Training
          </a>
          <a class="navbar-item " href="#">
            vs AI
          </a>
          <a class="navbar-item " href="#!/play/lobby">
            Ranked Game
          </a>
        </div>
      </div>
      <a href="#!/leaderboards" class="navbar-item">Leaderboards</a>
    </div>
    <div class="navbar-end" ng-controller="loginCtrl">
      <div class="navbar-item">
        <h1>Hello, {{user.login}}</h1>
      </div>
      <div class="navbar-item" ng-controller="profileCtrl">
        <i class="fa fa-diamond color-warning"></i> {{user.gold}}
      </div>
      <a href="#!/" class="navbar-item">Profile</a>
      <div class="navbar-item">
        <button class="button is-dark" ng-click="signOff()">logout</button>
      </div>
    </div>
  </div>
</nav>
