.login-screen
  display: flex
  justify-content: center
  align-items: center
  height: 100vh

  section
    background-color: rgba(245,245,245, 0.5)
    margin: 10px
    border: solid 4px $black
    padding: 10px
    font-size: 1.1em

  .title
    font-weight: bolder
    text-shadow: 2px 4px 0 $black, -2px -4px 0 $white
