.login-screen
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  section
    margin: 10px
    border: solid 2px $dark
    padding: 10px
    h2
      font-weight: bolder
