.timer-wrapper
  padding: 0 10px
  margin-bottom: 25px

.timer
  height: 20px
  width: 100%
  background: linear-gradient(to right, black, #777), $primary
  background-blend-mode: screen
  border: solid $dark 1px

.timer-warning
  animation-name: timer-warning
  animation-duration: 1s
  animation-direction: alternate
  animation-iteration-count: infinite
  background: linear-gradient(to right, black, #777), $danger


@keyframes timer-warning
  from
    opacity: 1
    box-shadow: 0 0 5px 5px $white
  to
    opacity: 0.2
    box-shadow: none

.battlefield
  display: flex
  background: linear-gradient(rgba(0,0,0,0.5), $black)
  border-top: solid 4px $black-ter
  border-bottom: solid 4px $black-ter
  animation-name: battlefield
  animation-duration: 15s
  animation-direction: alternate
  animation-iteration-count: infinite
  width: 100%
  margin-left: auto
  margin-right: auto
  transition: all 1.5s

  .column
    height: 700px

  section
    margin: 10px auto
    min-height: 135px

  .confirm-turn
    transition: all 0.3s

  .menu
    padding: 10px
    border: solid $dark 1px
    margin-right: 5px
    width: 250px
    background-color: $white-bis

    button.is-active
      filter: brightness(200%)
      font-weight: normal
    .actions-wrapper
      display: flex
      justify-content: space-around

  .team-member
    display: flex
    flex-direction: row
    align-items: center

  img
    width: 100px
    height: 100px
    border: solid $dark 2px
    border-radius: 5px
    &:hover ~ .hero-stats .wrapper
      transform: none


  .hero-infos
    position: relative
    color: $white-ter

    .hero-stats
      position: absolute
      top: 50%
      transform: translateY(-50%)
      left: calc(100% + 2px)
      width: 200%
      overflow: hidden

      .wrapper
        display: flex
        flex-direction: row
        justify-content: space-around
        transform: translateX(-200%)
        transition: all 0.3s
        padding: 5px
        border: solid $white-ter 1px
        border-radius: 5px
        font-size: 0.8em

      ul
        margin-right: 10px

  .opponent img
    transform: rotateY(180deg)

.HPBar
  background: linear-gradient(to right, black, #555), $success
  background-blend-mode: screen
  height: 10px
  border: solid $dark 1px
  transition: all 0.3s
  margin-bottom: 3px

.MPBar
  @extend .HPBar
  background: linear-gradient(to right, black, #555), $info

#combat-log
  background-color: $white-ter
  padding: 10px
  overflow: auto
  border-left: solid 2px $black-ter
  p
    margin: 10px 0


.dot-alert
  color: $danger
  font-weight: bold
  padding: 5px

.hot-alert
  color: $success
  font-weight: bold
  padding: 5px

.is-user
  color: $success

.is-opp
  color: $danger

.user-name
  text-shadow: 2px 2px 3px $success

.opp-name
  text-shadow: 2px 2px 3px $danger

.game-result
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.5)
  z-index: 99
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  .game-message
    position: relative
    z-index: 100
    font-size: 4.5rem
    font-family: $font1
    color: $white-bis
    text-shadow: 3px 5px 2px $black
  .button
    font-size: 3rem
    animation-name: fade-in
    animation-duration: 2s
    animation-delay: 1.5s
    animation-fill-mode: forwards
    opacity: 0
    border: solid 5px $black

  .left-side
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 50%
    border: solid $black 15px
    animation-name: left-side
    animation-duration: 1.5s
    animation-timing-function: ease-in

  .right-side
    @extend .left-side
    left: 50%
    animation-name: right-side

  .victory
    background: linear-gradient(rgba(0,0,0,0) 25%, $success)
  .defeat
    background: linear-gradient(rgba(0,0,0,0) 25%, $danger)

.blurred
  filter: blur(5px)

@keyframes fade-in
  from
    opacity: 0
  to
    opacity: 1

@keyframes left-side
  from
    left: -50%
  80%, to
    left: 0
  85%,90%
    left: -3%

@keyframes right-side
  from
    left: 100%
  80%, to
    left: 50%
  85%,90%
    left: 53%
