.classes-wrapper
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap
  
  padding: 20px
  .class-wrapper
    background: linear-gradient(130DEG, $white, $grey-light)
    padding: 15px
    border: outset $grey-dark 4px
    box-shadow: 5px 0 0 2px $primary
    border-radius: 10px
    margin: 15px

    img
      border: solid $dark 2px
  .class-wrapper img[disabled]
    filter: grayscale(80%)
